In [8]:
from zipfile import ZipFile, Path
from io import StringIO
import geopandas as gpd
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib.colors import LogNorm, PowerNorm
import seaborn as sns
from tqdm import tqdm
import numpy as np
import pandas as pd
# import scipy as sp
from shapely.geometry import Polygon, Point, MultiPoint

In [9]:
# From https://samukweku.github.io/data-wrangling-blog/python/pandas/compressed%20data/zip/archived%20data/2020/07/21/Extract-DataFrame-from-Compressed-Data-into-Pandas.html
# I/O from zip file (option B)
# pass in the specific file name to the open method
with ZipFile("/mnt/g/Other/Khazaei-GLOBathy/GLOBathy_basic_parameters.zip") as z:
    data = z.open("GLOBathy_basic_parameters/GLOBathy_basic_parameters(ALL_LAKES).csv")

#Now, we can read in the data
df = pd.read_csv(data)

df.head()

,Hylak_id,Lake_name,Country,Pour_long,Pour_lat,HYBAS_ID_LVL1,HYBAS_ID_LVL2,HYBAS_ID_LVL3,Dmax_box_m,Dmax_cone_m,Dmax_prism_m,Dmax_ellip_m,Dmax_est_PA_m,Dmax_est_PAVEW_m,Dmax_use_m
0,1,Caspian Sea,Russia,47.717708,45.591934,2.010000e+09,2.020066e+09,2.030069e+09,200.529488,601.588464,401.058976,300.794232,757.342360,1201.400000,1025.0
1,2,Great Bear,Canada,-123.505546,65.138384,8.010000e+09,8.020009e+09,8.030010e+09,72.248071,216.744213,144.496142,108.372106,537.306806,393.866667,446.0
2,3,Great Slave,Canada,-117.617115,61.311727,8.010000e+09,8.020009e+09,8.030010e+09,59.100129,177.300388,118.200259,88.650194,454.170280,448.033333,614.0
3,4,Winnipeg,Canada,-97.863542,53.696359,7.010000e+09,7.020021e+09,7.030022e+09,11.871401,35.614203,23.742802,17.807101,106.800448,81.466667,36.0
4,5,Superior,United States of America,-84.460547,46.468593,7.010000e+09,7.020025e+09,7.030035e+09,146.669417,440.008250,293.338833,220.004125,412.534584,558.533333,406.0

In [10]:
# From https://samukweku.github.io/data-wrangling-blog/python/pandas/compressed%20data/zip/archived%20data/2020/07/21/Extract-DataFrame-from-Compressed-Data-into-Pandas.html
# the 'at' argument accepts the path to the file within the zip archive this is convenient when you know the filename
# I/O from zip file (option B)
zipped = Path("/mnt/g/Other/Khazaei-GLOBathy/GLOBathy_basic_parameters.zip", at="GLOBathy_basic_parameters/GLOBathy_basic_parameters(ALL_LAKES).csv")

# read into dataframe, with the '.read_text' method
df = pd.read_csv(StringIO(zipped.read_text()))

df.head()

,Hylak_id,Lake_name,Country,Pour_long,Pour_lat,HYBAS_ID_LVL1,HYBAS_ID_LVL2,HYBAS_ID_LVL3,Dmax_box_m,Dmax_cone_m,Dmax_prism_m,Dmax_ellip_m,Dmax_est_PA_m,Dmax_est_PAVEW_m,Dmax_use_m
0,1,Caspian Sea,Russia,47.717708,45.591934,2.010000e+09,2.020066e+09,2.030069e+09,200.529488,601.588464,401.058976,300.794232,757.342360,1201.400000,1025.0
1,2,Great Bear,Canada,-123.505546,65.138384,8.010000e+09,8.020009e+09,8.030010e+09,72.248071,216.744213,144.496142,108.372106,537.306806,393.866667,446.0
2,3,Great Slave,Canada,-117.617115,61.311727,8.010000e+09,8.020009e+09,8.030010e+09,59.100129,177.300388,118.200259,88.650194,454.170280,448.033333,614.0
3,4,Winnipeg,Canada,-97.863542,53.696359,7.010000e+09,7.020021e+09,7.030022e+09,11.871401,35.614203,23.742802,17.807101,106.800448,81.466667,36.0
4,5,Superior,United States of America,-84.460547,46.468593,7.010000e+09,7.020025e+09,7.030035e+09,146.669417,440.008250,293.338833,220.004125,412.534584,558.533333,406.0

In [11]:
# Load HydroLakes shapefile
gdf = gpd.read_file('/mnt/f/HydroLAKES_polys_v10_shp/HydroLAKES_polys_v10_shp/HydroLAKES_polys_v10.shp')

In [12]:
gdf.head()

,Hylak_id,Lake_name,Country,Continent,Poly_src,Lake_type,Grand_id,Lake_area,Shore_len,Shore_dev,...,Vol_src,Depth_avg,Dis_avg,Res_time,Elevation,Slope_100,Wshd_area,Pour_long,Pour_lat,geometry
0,1,Caspian Sea,Russia,Europe,SWBD,1,0,377001.91,15829.37,7.27,...,1,200.5,8110.642,107883.0,-29,-1.0,1404108.0,47.717708,45.591934,"POLYGON ((49.96181 37.43847, 49.96457 37.44022..."
1,2,Great Bear,Canada,North America,CanVec,1,0,30450.64,5331.72,8.62,...,1,72.2,535.187,47577.7,145,-1.0,147665.4,-123.505546,65.138384,"POLYGON ((-119.78782 67.03574, -119.78637 67.0..."
2,3,Great Slave,Canada,North America,CanVec,1,0,26734.29,9814.16,16.93,...,1,59.1,4350.692,4203.2,148,-1.0,995312.3,-117.617115,61.311727,"POLYGON ((-109.93976 62.95851, -109.93831 62.9..."
3,4,Winnipeg,Canada,North America,CanVec,3,709,23923.04,4018.32,7.33,...,1,11.9,2244.727,1464.3,215,-1.0,919611.5,-97.863542,53.696359,"POLYGON ((-98.80636 53.88021, -98.80578 53.880..."
4,5,Superior,United States of America,North America,SWBD,1,0,81843.92,5248.36,5.18,...,1,146.7,2869.953,48410.3,179,-1.0,209219.5,-84.460547,46.468593,"POLYGON ((-90.72250 46.65740, -90.72458 46.657..."

## Join data

In [19]:
## Join
gdf_join = gdf.merge(df.drop(columns=['Lake_name', 'Country','Pour_long', 'Pour_lat']), 'left', on='Hylak_id')
gdf_join.columns

Index(['Hylak_id', 'Lake_name', 'Country', 'Continent', 'Poly_src',
       'Lake_type', 'Grand_id', 'Lake_area', 'Shore_len', 'Shore_dev',
       'Vol_total', 'Vol_res', 'Vol_src', 'Depth_avg', 'Dis_avg', 'Res_time',
       'Elevation', 'Slope_100', 'Wshd_area', 'Pour_long', 'Pour_lat',
       'geometry', 'HYBAS_ID_LVL1', 'HYBAS_ID_LVL2', 'HYBAS_ID_LVL3',
       'Dmax_box_m', 'Dmax_cone_m', 'Dmax_prism_m', 'Dmax_ellip_m',
       'Dmax_est_PA_m', 'Dmax_est_PAVEW_m', 'Dmax_use_m'],
      dtype='object')

## Write out joined hydrolakes/globathy

In [20]:
gdf_join.to_file('/mnt/g/Other/Khazaei-GLOBathy/edk_out/GLOBathy.shp')

/tmp/ipykernel_11027/2228800800.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf_join.to_file('/mnt/g/Other/Khazaei-GLOBathy/edk_out/GLOBathy.shp')

##